.circle-red {
	width: 50px;
	height: 50px;
	background: red;
    border-radius: 25px;
    display: inline-block; 
}

.circle-green {
	width: 50px;
	height: 50px;
	background: green;
    border-radius: 25px;
    display: inline-block; 
}

.circle-blue {
	width: 50px;
	height: 50px;
	background: blue;
    border-radius: 25px;
    display: inline-block; 
}